<script>

export default {
  name: 'ServeDev',
  data() {
    return {
      authed: true,
      iconList: [{
        name: 'cog-outline'
      }, {
        name: 'copy'
      }, {
        name: 'dots'
      }, {
        name: 'help-circle'
      }, {
        name: 'messages-outline'
      }, {
        name: 'phone-outline'
      }, {
        name: 'plus-square'
      }, {
        name: 'search'
      }, {
        name: 'squares'
      }, {
        name: 'user'
      }, {
        name: 'users-outline'
      }]
    }
  }

};
</script>

<template>
  <div id="app">
      <h1>Иконки / Icons</h1>
      <section class="icons-section">
        <div v-for="value, index in iconList" :key="index" class="item-wrapper">
          <div class="item">
            <of-icon :name="value.name" style="width: 50px; height: 50px"/>
            <p class="name">{{ value.name }}</p>
          </div>
        </div>
      </section>
      <h1>Разделитель / Divider</h1>
      <section class="icons-section">
        <of-divider inset style="width: 40%"/>
        <of-divider style="width: 40%"/>
      </section>
      <h1>Flex Spacer</h1>
      <section class="icons-section">
        <p>spacer -></p>
        <of-spacer style="background: rgba(51, 51, 51, .08); height: 30px; border-radius: 10px; margin: 0 10px"/>
        <p>>- spacer</p>
      </section>
  </div>
</template>


<style lang="scss">

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  font-family: 'Roboto', sans-serif;
}

  h1 {
    margin-left: 60px;
  }
  section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 80px;

    .item-wrapper {
      width: 13%;
      height: 180px;
      padding: 10px;
    }

    .item {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      box-shadow: 3px 3px 20px #00000026;
      border-radius: 20px;

      ::v-deep {

        svg {
          height: 50px;
          width: 50px;
        }
      }

      p {
        margin: 0;
        font-weight: bold;
      }
    }
  }
</style>
