
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  font-family: 'Roboto', sans-serif;
}

  h1 {
    margin-left: 60px;
  }
  section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 80px;

    .item-wrapper {
      width: 13%;
      height: 180px;
      padding: 10px;
    }

    .item {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      box-shadow: 3px 3px 20px #00000026;
      border-radius: 20px;

      ::v-deep {

        svg {
          height: 50px;
          width: 50px;
        }
      }

      p {
        margin: 0;
        font-weight: bold;
      }
    }
  }