<template>
  <div :class="['og-divider-wrapper', { inset: inset }]">
    <div class="og-divider" :style="`background: ${this.color}`">
    </div>
  </div>
</template>

<script>
export default {

  name: 'OF.Divider',
  props: {
    inset: Boolean,
    color: {
      type: String,
      default: 'rgba(0, 0, 0, .15)'
    }
  }

}
</script>
<style lang='scss' src="./../scss/divider.scss">
.og-divider-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  &.inset {
    padding: 0 20px;
  }

  .og-divider {
    height: 1.5px;
    width: 100%;
  }
}
</style>