<template>
  <Component :is="image" class="og-icon" />
</template>

<script>
	export default {
    name: 'Icon',
    props: {
      type: {
        type: String,
        default: 'svg'
      },
      name: {
        type: String
      },
      collection: {
        type: String,
        default: 'standart'
      },
      src: {
        type: String
      }
    },
    computed: {
      image() {
        /* if (this.type == 'custom') {
          return this.src;
        }
        else */ if (this.type == 'svg') {
          const result = require(`!html-loader!./../assets/icons/svg/${this.collection}/${this.name}.svg`).default;
          console.log(result)
          return result;
        }

        else {
          if (this.src) {
            return this.src;
          }

          try {
            return '<img src="' + require(`./../assets/icons/${this.type}/${this.name}.png`) + '"/>';
          }
          catch {
            return '<img src="' + require(`./../assets/icons/miss-img.png`) + '"/>';
          }
        }
      }
    }
	};
</script>
<style lang="scss" scoped>
  .og-icon {
    svg {
      width: 100%;
      height: 100%;
      vertical-align: unset;

      path {
        width: 100%;
      }
    }
  }
</style>