.og-divider-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  &.inset {
    padding: 0 20px;
  }

  .og-divider {
    height: 1.5px;
    width: 100%;
  }
}